# DAT210x - Programming with Python for DS

## Module6- Lab5

In [1]:
import pandas as pd

Useful information about the dataset used in this assignment can be [found here](https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.names).

Load up the mushroom dataset into dataframe `X` and verify you did it properly, and that you have not included any features that clearly shouldn't be part of the dataset.

You should not have any doubled indices. You can check out information about the headers present in the dataset using the link we provided above. Also make sure you've properly captured any NA values.

In [68]:
# .. your code here ..

names = range(0,23)    
X = pd.read_csv('Datasets/agaricus-lepiota.data', names = names)
X.shape

(8124, 23)

In [69]:
X = X[X.iloc[:,11] != '?']
X.shape

(5644, 23)

In [70]:
# An easy way to show which rows have nans in them:
X[pd.isnull(X).any(axis=1)]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
Index: []

[0 rows x 23 columns]

For this simple assignment, just drop any row with a nan in it, and then print out your dataset's shape:

In [71]:
# .. your code here ..
X = X.dropna(axis = 0)
X.shape

(5644, 23)

Copy the labels out of the dataframe into variable `y`, then remove them from `X`.

Encode the labels, using the `.map()` trick we presented you in Module 5, using `canadian:0`, `kama:1`, and `rosa:2`.

In [72]:
# .. your code here ..
y = X.iloc[:,0]
X = X.drop([X.columns[0]],axis = 1)
X.shape

(5644, 22)

In [78]:
y = y.map({'p': 0, 'e': 1})

In [79]:
y

0       0
1       1
2       1
3       0
4       1
       ..
7986    1
8001    1
8038    1
8095    0
8114    0
Name: 0, Length: 5644, dtype: int64

Encode the entire dataframe using dummies:

Split your data into `test` and `train` sets. Your `test` size should be 30% with `random_state` 7.

Please use variable names: `X_train`, `X_test`, `y_train`, and `y_test`:

In [85]:
# .. your code here ..
X = pd.get_dummies(X)
X.shape

(5644, 98)

In [86]:
# .. your code here ..
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=7)

Create an DT classifier. No need to set any parameters:

In [88]:
# .. your code here ..
from sklearn import tree
dec_tree = tree.DecisionTreeClassifier()

Train the classifier on the `training` data and labels; then, score the classifier on the `testing` data and labels:

In [89]:
# .. your code here ..
dec_tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [90]:
score = dec_tree.score(X_test, y_test)

In [91]:
print("High-Dimensionality Score: ", round((score*100), 3))

High-Dimensionality Score:  100.0

Use the code on the course's SciKit-Learn page to output a .DOT file, then render the .DOT to .PNGs.

You will need graphviz installed to do this. On macOS, you can `brew install graphviz`. On Windows 10, graphviz installs via a .msi installer that you can download from the graphviz website. Also, a graph editor, gvedit.exe can be used to view the tree directly from the exported tree.dot file without having to issue a call. On other systems, use analogous commands.

If you encounter issues installing graphviz or don't have the rights to, you can always visualize your .dot file on the website: http://webgraphviz.com/.

In [92]:
import graphviz

In [99]:
dec_tree.feature_importances_[32]

0.16219328833575347

In [100]:
X.columns[32]

'8_n'

In [101]:
X

,1_b,1_c,1_f,1_k,1_s,1_x,2_f,2_g,2_s,2_y,...,21_n,21_s,21_v,21_y,22_d,22_g,22_l,22_m,22_p,22_u
0,0,0,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
1,0,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0
2,1,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
4,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,1,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0
8001,0,0,0,0,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0
8038,0,0,0,0,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0
8095,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
8114,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0

In [3]:
import pandas as pd
df = pd.read_csv('https://goo.gl/qxWClF', na_values = -1)
print(df.fillna(method = 'bfill'))

   id store product  cost
0   1     A       X  25.0
1   2     B       Y  25.0
2   3     A       Y  15.0
3   4     A     NaN  15.0
4   5     A     NaN  20.0